<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

  <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
  <link rel="preconnect" href="https://fonts.gstatic.com"> 
  <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <title>Rock, Paper, Scissors</title>

  <link rel="stylesheet" href="stylesheets/style.css">

</head>
<body>

    <div class="body">
        <div class="headline">
            <span class="headline__text">Choose a game</span>
        </div>
        <div class="select">
            
            <a href="/rps">
                <div class="select__selection">
                    <div class="select__selection-name-rps"></div>
                    <div class="select__selection-image-rps"></div>

                </div>
            </a>

            <a href="/rpsls">
                <div class="select__selection">
                    <div class="select__selection-name-rpsls"></div>
                    <div class="select__selection-image-rpsls"></div>
                    
                </div>            
            </a>

        </div>
        
    </div>

</body>
</html>